extends layout

block content
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js')
  script(src='javascripts/dashboard_carousel.js')
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCok34iyxN15XU51R9pAvSOcdQVRb9m_0Y&callback=initMap"
        type="text/javascript")
  script(src='javascripts/map.js')
  body.dash
  main
    section.carousel.slider
      for tender in tenders
        a.carousel-item.boo(href='/tenders/#{tender.id}')
          img(src='#{tender.picture}')
    section#map
    section#tenders-dash
      h3 Items for Trade
      for tender in tenders
        div.dashboard-tender
          h4
            a(href='/tenders/'+tender.id)= tender.name
          p=tender.description
          p=tender.tender_type
          p=tender.username
      a.dash-link(href='/tenders') View All Tenders
    section#tenders-dash
      h3 My tenders
      for tender in myTenders
        if (tender.state == 'draft')
          div.dashboard-tender.red
            h4=tender.name
            p=tender.description
            p=tender.tender_type
            p=tender.username
        else if (tender.state == 'published')
          div.dashboard-tender.yellow
            h4=tender.name
            p=tender.description
            p=tender.tender_type
            p=tender.username
        else if (tender.state == 'active')
          div.dashboard-tender.green
            h4=tender.name
            p=tender.description
            p=tender.tender_type
            p=tender.username
        else if (tender.state == 'closed')
          div.dashboard-tender.grey
            h4=tender.name
            p=tender.description
            p=tender.tender_type
            p=tender.username
            p closed
            form(action='/tenders/'+tender.id+'/delete', method='get')
              input#submit_button(type='submit', name='', value='Delete')
      a.dash-link(href='#') View All  My Tenders
    section#bids
      section#bids-sent
        h3 My Bids Sent
        for bid in bids_sent
          div.dashboard-bids-sent
            p Tender ID: #{bid.tender_id}
            p Offer Description: #{bid.description}
            p Response: #{bid.response}
        a.dash-link(href='/bids-sent') View all Bids Sent
      section#bids-received
        h3 My Bids Received
          for bid in bids_received
            div.dashboard-bids-received
              p Tender ID: #{bid.tender_id}
              p Offer Description: #{bid.description}
              p User Id: #{bid.user_id}
              p Response: #{bid.response}
        a.dash-link(href='/bids-received') View all Bids Received
