extends layout

block content
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js')
  script(src='javascripts/dashboard_carousel.js')
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCok34iyxN15XU51R9pAvSOcdQVRb9m_0Y"
        type="text/javascript")
  script(src='javascripts/map.js')

  body.dash
  main
    section.carousel.slider
      for tender in tenders
        a.carousel-item.boo(href='/tenders/#{tender.id}')
          if (tender.picture === null || tender.picture == 'undefined')
            img.boo_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
          else
            img.boo_img(src='#{tender.picture}' alt='No Image Available')
    h3.items_for_trade Items for Trade
    section#tenders-dash-left
      for tender in tenders
        div.dashboard-tender
          h4
            a.dashy_link(href='/tenders/'+tender.id)
              p.dashy Tender Name: #{tender.name}
          p.dashy Description: #{tender.description}
          p.dashy Type: #{tender.tender_type}
            a(href='/tenders/'+tender.id)
              if (tender.picture === null)
                img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
              else
                img.dashy_img(src='#{tender.picture}' alt='No Image Available')
      a.dash-link(href='/tenders') View All Tenders
    h3.my_tenders My tenders
    section#tenders-dash-right
      for tender in myTenders
        if (tender.state == 'draft')
          div.dashboard-tender.red
            h4.dashy Tender Name: #{tender.name}
            p.dashy Description: #{tender.description}
            p.dashy Type: #{tender.tender_type}
            p.dashy This is a draft. Select publish to start getting offers!
            if (tender.picture === null || tender.picture == 'undefined')
              img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
            else
              img.dashy_img(src='#{tender.picture}' alt='No Image Available')
            form(action='/tenders/'+tender.id+'/delete', method='get')
              input#submit_button.red_delete_button(type='submit', name='', value='Delete')
            form(action='/tenders/'+tender.id+'/publish', method='post')
              input(type='text', name='id', hidden, value='#{tender.id}')
              input(type='textarea', name='name', hidden, value='#{tender.name}')
              input(type='textarea', name='description', hidden, value='#{tender.description}')
              input(type='text', name='state', hidden, value='#{tender.state}')
              input(type='text', name='user_id', hidden, value='#{tender.user_id}')
              input(type='file', name='picture', hidden, value='#{tender.picture}')
              input#submit_button.red_publish_button(type='submit', name='', value='Publish')
        else if (tender.state == 'published')
          div.dashboard-tender.yellow
            h4.dashy Tender Name: #{tender.name}
            p.dashy Description: #{tender.description}
            p.dashy Type: #{tender.tender_type}
            p.dashy Waiting for offers. Update for a better description.
            if (tender.picture === null || tender.picture == 'undefined')
              img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
            else
              img.dashy_img(src='#{tender.picture}' alt='No Image Available')
            form(action='/tenders/#{id}', method='post')
              input.myTenders_tender_name(type='textarea', name='name', value='#{tender.name}')
              input.myTenders_tender_description(type='textarea', name='description', value='#{tender.description}')
              input(type='text', name='nbr_views', hidden, value='#{tender.nbr_views}')
              input(type='text', name='id', hidden, value='#{tender.id}')
              input(type='text', name='user_id', hidden, value='#{tender.user_id}')
              input(type='text', name='state', hidden, value='#{tender.state}')
              input(type='text', name='picture', hidden, value='#{tender.picture}')
              if (tender.tender_type == 'goods')
                select.myTenders_tender_type(name='tender_type')
                  option(value='goods' selected) Goods
                  option(value='service') Service
              else
                select.myTenders_tender_type(name='tender_type')
                  option(value='service' selected) Service
                  option(value='goods') Goods
              input#submit_button.myTenders_submit(type='submit', name='', value='update')
        else if (tender.state == 'active')
          div.dashboard-tender.green
            h4.dashy Tender Name: #{tender.name}
            p.dashy Description: #{tender.description}
            p.dashy Type: #{tender.tender_type}
            p.dashy you got an offer!
              for bid in bids_received
                if (bid.tender_id == tender.id)
                  p.dashy offer: #{bid.description}
                  p.dashy bidder: #{bid.username}
                  if (bid.picture === null || bid.picture == 'undefined')
                    img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
                  else
                    img.dashy_img(src='#{bid.picture}' alt='No Image Available')
            p.dashy for
            if (tender.picture === null || tender.picture == 'undefined')
              img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
            else
              img.dashy_img(src='#{tender.picture}' alt='No Image Available')
            for bid in bids_received
              if (bid.tender_id == tender.id)
                form(action='/bids/#{bid.id}/accept', method='post')
                  input#submit_button(type='submit', name='', value='Accept Bid')
                form(action='/bids/#{bid.id}/reject', method='post')
                  input#submit_button(type='submit', name='', value='Reject Bid')
        else if (tender.state == 'closed')
          div.dashboard-tender.grey
            h4.dashy Tender Name: #{tender.name}
            p.dashy Description: #{tender.description}
            p.dashy Type: #{tender.tender_type}
            p.dashy closed. you made a good trade.
            if (tender.picture === null || tender.picture == 'undefined')
              img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
            else
              img.dashy_img(src='#{tender.picture}' alt='No Image Available')
    section#bids
      h3.my_bids_sent My Bids Sent
      section#bids-sent
        for bid in bids_sent
          div.dashboard-bids-sent
            p.bids_sent Tender Name: #{bid.tender_name}
            p.bids_sent Offer Description: #{bid.description}
            p.bids_sent Response: #{bid.response}
            if (bid.picture === null || bid.picture == 'undefined')
              img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
            else
              img.dashy_img(src='#{bid.picture}' alt='No Image Available')
    section.bids-received-div
      h3.my_bids_received My Bids Received
      section#bids-received
          for bid in bids_received
            if (bid.state === 'active')
              div.dashboard-bids-received
                p.bids_sent Tender Name: #{bid.tender_name}
                p.bids_sent Offer Description: #{bid.description}
                p.bids_sent Bidder: #{bid.username}
                p.bids_sent Response: #{bid.response}
                if (bid.picture === null || bid.picture == 'undefined')
                  img.dashy_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
                else
                  img.dashy_img(src='#{bid.picture}' alt='No Image Available')
                form(action='/bids/#{bid.id}/accept', method='post')
                  input#submit_button(type='submit', name='', value='Accept Bid')
                form(action='/bids/#{bid.id}/reject', method='post')
                  input#submit_button(type='submit', name='', value='Reject Bid')
    section#map-container
      div#map.map_styling
