extends ../layout

block content
  body.foo
  main
    section#profile
      h3.username #{users.username}'s Profile
      h3
        form(action='/users/#{users.id}/edit', method='get')
          input.update_profile_button#submit_button(type='submit', name='', value='Update')
      div.profile
        h4 Picture:
        img.profile_picture(src='#{users.profile_pic}', alt='Profile Picture')
        h4 About Me: #{users.about_me}
    section#my_tenders
      h3 My Tenders
      for tender in tenders
          div.profile-tender
          h4 Name: #{tender.name}
          h4 Description: #{tender.description}
          h4 Type: #{tender.tender_type}
          if (tender.picture === null || tender.picture == 'undefined')
            img.profile_img(src='https://ugotalksalot.files.wordpress.com/2016/06/no-thumb.jpg' alt='No Image Available')
          else
            img.profile_img(src='#{tender.picture}' alt='No Image Available')
