extends ../layout

block content
  main
    section#profile
      h3 #{users.username}'s Profile
      div.profile
        h4 Picture: 
        img(src='#{users.profile_pic}', alt='Profile Picture')
        h4 About Me: #{users.about_me}
    section#my_tenders
      h3 My Tenders
      for tender in tenders
          div.profile-tender
          h4 Name: #{tender.name}
          h4 Description: #{tender.description}
          h4 Type: #{tender.tender_type}
