extends ../layout

block content
  body.tender_edit
    h1 Edit or Submit your Tender for bids:
    form(action='/tenders/#{id}', method='post')
      input.tender_edit_input(type='textarea', name='name', value='#{tender.name}')
      input.tender_edit_input(type='textarea', name='description', value='#{tender.description}')
      input(type='text', name='nbr_views', hidden, value='#{tender.nbr_views}')
      input(type='text', name='id', hidden, value='#{tender.id}')
      input(type='text', name='user_id', hidden, value='#{tender.user_id}')
      input(type='text', name='state', hidden, value='#{tender.state}')
      if (tender.tender_type == 'goods')
        select.goods_services_dropdown(name='tender_type')
          option(value='goods' selected) Goods
          option(value='service') Service
      else
        select(name='tender_type')
          option(value='service' selected) Service
          option(value='goods') Goods
      input#submit_button.tender_edit_submit(type='submit', name='', value='Edit and Submit')
    form(action='/tenders/#{id}/publish', method='post')
      input(type='text', name='id', hidden, value='#{tender.id}')
      input(type='textarea', name='name', hidden, value='#{tender.name}')
      input(type='textarea', name='description', hidden, value='#{tender.description}')
      input(type='text', name='state', hidden, value='#{tender.state}')
      input(type='text', name='user_id', hidden, value='#{tender.user_id}')
      input#submit_button.tender_edit_submit(type='submit', name='', value='Submit up for bids')
