extends ../layout

block content
  body.show_tender
  h1.show_tender_heading  Showing #{tenders.name}
  if tenders
    div.tender_show
      h2.show_tender_heading Tender Name: #{tenders.name}
      p Description: #{tenders.description}
      p Type: #{tenders.tender_type}
      p User id: #{tenders.user_id}
    div.tender_show
      h2.show_tender_heading User Name: #{tenders.first_name} #{tenders.last_name}
      p Email Address: #{tenders.email_address}
    
  a.make_offer(href='/tenders/#{tenders.id}/offer') Make an offer
